<div class="container">
	<h3>All Users</h3>
	<ul>
		<% @users.each do |user| %>
			<li><%= user.name %> - <%= link_to "Edit", edit_user_path(user) %> | <%= link_to 'Remove', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		<% end %>
	</ul>
</div>

<div class="container">
	<h3>Add me!</h3>
	<%= form_for @new_user do |f| %>
		<%= f.label :name, "Full Name" %> <%= f.text_field :name %> <br>
		<%= f.label :email, "Email (Gravatar)" %> <%= f.text_field :email %> <br>
		<%= f.label :url, "Codecademy URL" %> <%= f.text_field :url %> <br>
		<%= f.label :location, "Location (GMaps)" %> <%= f.text_field :location %> <br>
		<%= f.label :time_offset, "Timezone Offset" %> <%= f.number_field :time_offset, readonly: "readonly" %> <br>
		<small>
			Note: the Timezone Offset is set automatically via JavaScript according to your computer's settings. If it appears to be incorrect, please <a href="https://github.com/JoahG/ccmodstimeapp/issues/new">open an issue</a>.
		</small>
		<p>
			<%= f.submit "Add me!" %>
		</p>
	<% end %>
</div>