<h1>
	What time is it?
</h1>

<span class="version">
	v2 - Rails FTW
</span>

<span class="desc">
	{{scroll to the bottom to add yourself to the map}}
</span>

<div id="map_container_two">
	<%= gmaps4rails(@json) %>
</div>

<div class="container">
	<h3>Add me!</h3>
	<%= form_for @new_user do |f| %>
		<%= f.label :name, "Full Name" %> <%= f.text_field :name %> <br>
		<%= f.label :email, "Email (Gravatar)" %> <%= f.text_field :email %> <br>
		<%= f.label :url, "Codecademy URL" %> <%= f.text_field :url %> <br>
		<%= f.label :location, "Location (GMaps)" %> <%= f.text_field :location %> <br>
		<%= f.label :time_offset, "Timezone Offset" %> <%= f.number_field :time_offset, readonly: "readonly" %> <br>
		<small>
			Note: the Time Offset is set automatically via Javascript according to your computer's settings. If it appears to be incorrect, please <a href="https://github.com/JoahG/ccmodstimeapp/issues/new">open an issue</a>.
		</small>
		<p>
			<%= f.submit "Add me!" %>
		</p>
	<% end %>
</div>

<div class="container">
	<h3>All Users</h3>
	<ul>
		<% @users.each do |user| %>
			<li><%= user.name %> - <%= link_to "Edit", edit_user_path(user) %> | <%= link_to 'Remove', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		<% end %>
	</ul>
</div>

<script>
	// Use current time and TimezoneOffset to determine current offset
	var currentTime = new Date();
	h = currentTime.getTimezoneOffset()/60
	// Set time offset input to offset. 
	$("input#user_time_offset").val((h < 0 ? abs(h) : parseInt("-"+h,10)))
</script>