<!DOCTYPE html>
<html>
	<head>
		<title>What time is it?</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	</head>
	<body>

		<!-- Fork Me button -->
		<a href="https://github.com/JoahG/ccmodstimeapp"><img style="position: absolute; top: 0; left: 0; border: 0;" src="assets/forkme.png" alt="Fork me on GitHub"></a>

		<!-- Admin button -->
		<a href="/admin"><img style="position: absolute; top: 0; right: 0; border: 0;" src="assets/admin.png" alt="Admin Section"></a>

		<%= yield %>

		<%= yield :scripts %>

	</body>
</html>
